<div class="pure-g">
  <div class="pure-u-1-2">
    <table class='pure-table'>
      <thead>
        <tr>
          <th class='width-2'>Name</th>
          <th class='width-1 center'>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |group, g| %>
        <tr>
          <td><%= group %></td>
          <td class='center'><%= g.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pure-u-1-2">
    <%= pie_chart @application.events.group(:name).count, legend:false, height: '300px', width: '300px' %>
  </div>

  <div class="pure-u-5-5">
    <%= line_chart @application.events.group_by_day(:created_at).count %>
  </div>

</div>
