<h1>Create a New Application</h1>

<%= render partial: 'form', locals: { application: @application } %>

<br />

<div class="bottom-navigation">
  <%= link_to "Cancel", applications_path, class:'pure-button' %>
</div>
