<h1>Welcome to Blocmetrics</h1>

<% if current_user %>
  <%= link_to 'See my applications', applications_path, class:'pure-button' %>
  <%= link_to 'New application', new_application_path, class:'pure-button' %>
<% end %>
