/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$menu_background: #ddd;


.container {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
  // background-color: pink;
  padding: 20px 20px 50px 20px;
}

.pure-menu {
  background-color: $menu_background;
}

.pure-menu-item a {
  margin: 0 15px;
}

a:link  {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            inherit;
}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            inherit;
}
a:hover {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  color:            inherit;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  color: 						white;
}
